.selector {
  margin-bottom: 150px;
}

.single-img img {
  width: 100%;
}

.two-types {
  margin-bottom: 150px;
}

.native h2 {
  font-family: "Abril Fatface";
  font-size: 35px;
  color: #234262;
  font-weight: bold;
}

.suball-icons {
  color: #7d84ab;
  font-size: 18px;
}

.native {
  border-bottom: 1px solid;
  border-color: #eaeaea;
}

.new-para {
  color: #7d84ab;
  font-size: 20px;
}

.btn-para button {
  font-size: 18px;
  padding: 15px 50px;
  border: none;
  background: #1fc2d9;
  color: white;
  border-radius: 4px;
}

.btn-para button:hover {
  background-color: white;
  color: #1fc2d9;
  border-color: #1fc2d9;
  border: 1px solid;
}

.corner {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  background-color: #317bd6;
}

.date-on {
  font-size: 60px;
  font-weight: bold;
  font-family: "Abril Fatface";
}

.date-off {
  font-size: 20px;
}
