<section class="selector">
  <app-background-image title="Event Details"></app-background-image>
</section>

<section class="two-types">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="single-img position-relative">
          <img src="/assets/Image/single.webp" />
          <div class="corner">
            <h1 class="text-center date-on">02</h1>
            <h6 class="date-off">Dec,2020</h6>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="pt-5 pb-3 native">
          <h2>How to speake like a nativespeaker?</h2>
          <div class="d-flex gap-4 py-2 suball-icons">
            <div class="para-icons">
              <i class="fa-regular fa-clock px-2"></i>
              <span>10:30 Pm</span>
            </div>

            <div>
              <i class="fa-regular fa-calendar-days px-2"></i
              ><span>21 Nov 2020</span>
            </div>

            <div>
              <i class="fa-solid fa-location-dot px-2"></i
              ><span>AH Oditoriam</span>
            </div>
          </div>
        </div>

        <div class="new-para py-5">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus
            augue nibh, at ullamcorper orci ullamcorper ut. Integer vehicula
            iaculis risus, non consequat eros tincidunt ac. Morbi a aliquam
            tortor. Nam convallis vestibulum nisi, sit amet fermentum libero
            scelerisque id. Integer iaculis mollis justo, sed interdum ligula
            auctor in. Donec a vehicula nisi. Fusce quis mollis sem. Nam velit
            dolor, ultricies non mollis vel, sagittis sed leo. Morbi lorem
            justo, porta eu odio a, tincidunt pretium dui. In ac fringilla arcu.
          </p>
        </div>

        <div class="btn-para">
          <button type="submit" routerLink="/Event/Admissions">
            BOOK A SEAT
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
