<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="/assets/Image/logo.png.webp" />
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end gap-2 heading"
        id="navbarNav"
      >
        <ul class="navbar-nav align-items-start ps-2">
          <li class="nav-item" *ngFor="let i of navdata">
            <a class="nav-link" [routerLink]="i.url">{{ i.name }}</a>
          </li>
        </ul>
        <button class="d-none d-lg-block">Apply Now</button>
      </div>
    </div>
  </nav>
</header>
