.navbar-nav {
  list-style-type: none;
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 20px;
  font-size: 18px;
}

.heading button {
  background: #234262;
  color: white;
  padding: 10px 40px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .navbar-nav a {
    padding: 10px;
    font-size: 16px;
  }

  .navbar-toggler-icon {
    font-size: 13px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
}
