<section class="all-newss">
  <div class="container">
    <div class="recent-head text-center py-5">
      <h1>Recent News</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor
      </p>
      <p>incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="row two-image">
      <div class="col-lg-6 Study-left">
        <div class="overflow-hidden rounded-top-4 position-relative">
          <a routerLink="blog">
            <img src="/assets/Image/three.webp" />
          </a>
          <div class="tag" style="background-color: #ebb830">Group Study</div>
        </div>

        <div class="clg-exp py-5 px-5">
          <p class="exp1">Those Other College Expenses You</p>
          <p class="exp1">Aren't Thinking About</p>
          <div class="d-flex font-date gap-3">
            <div>
              <i class="fa-solid fa-calendar-days"></i>
            </div>

            <div>
              <p>May 10, 2020</p>
            </div>

            <div>|</div>

            <div>
              <i class="fa-regular fa-message"></i>
            </div>

            <div>
              <p>01 comments</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 Study-right">
        <div class="overflow-hidden rounded-top-4 position-relative">
          <a routerLink="blog">
            <img src="/assets/Image/girl.webp" />
          </a>
          <div class="tag" style="background-color: #317bd6">Hall Life</div>
        </div>

        <div class="clg-exp py-5 px-5">
          <p class="exp1">Those Other College Expenses You</p>
          <p class="exp1">Aren't Thinking About</p>
          <div class="d-flex font-date gap-4">
            <div>
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <div>
              <p>May 10, 2020</p>
            </div>
            <div>|</div>

            <div>
              <i class="fa-regular fa-message"></i>
            </div>

            <div>
              <p>01 comments</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
