<section class="two-image position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 late-seven">
        <div class="left-course">
          <h1 class="lft-course">Latest Courses</h1>
          <p class="para1 py-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation.
          </p>
          <div class="row">
            <div class="col-lg-6 mb-5 icon-lab">
              <i class="fa-solid fa-flask"></i>
              <h2 class="py-4">
                Bachelor of <br />
                Graphic Design
              </h2>
              <p>
                Lorem ipsum dolor sit amet, sectetur adipiscing elit, sed do
                eiusmod tpor incididunt ut piscing vcs.
              </p>
              <button>Apply Now</button>
            </div>

            <div class="col-lg-6 mb-5 icon-lab">
              <i class="fa-solid fa-flask"></i>
              <h2 class="py-4">Bachelor of <br />Graphic Design</h2>
              <p>
                Lorem ipsum dolor sit amet, sectetur adipiscing elit, sed do
                eiusmod tpor incididunt ut piscing vcs.
              </p>
              <button>Apply Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5"></div>
    </div>
  </div>
</section>
