<section class="form-all position-relative my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5"></div>

      <div class="col-lg-7">
        <div class="form-admission">
          <h1>Apply for Admission</h1>
          <form class="row mt-5">
            <div class="col-md-6 py-3">
              <input type="text" name="fname" placeholder="First Name" />
            </div>
            <div class="col-md-6 py-3">
              <input type="text" name="lname" placeholder="Last Name" />
            </div>
            <div class="col-md-6 py-3">
              <input type="text" name="phone-no" placeholder="Phone Number" />
            </div>
            <div class="col-md-6 py-3">
              <input type="text" name="email" placeholder="Email-Address" />
            </div>
            <div class="col-12 py-3">
              <textarea placeholder="Write an application"></textarea>
            </div>
            <div class="col-md-6">
              <button type="submit" class="py-3">Apply Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
